<div>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Leg 1</mat-label>
      <input type="text"
             placeholder="Leg 1"
             aria-label="Leg 1"
             matInput
             [formControl]="leg1Control"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredLeg1Items | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Leg 2</mat-label>
      <input type="text"
             placeholder="Leg 2"
             aria-label="Leg 2"
             matInput
             [formControl]="leg2Control"
             [matAutocomplete]="auto2">
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
        <mat-option *ngFor="let option of filteredLeg2Items | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <button (click)="add()" mat-button mat-raised-button>Add</button>
</div>
<div>
  <mat-chip-list aria-label="Spreads">
    <mat-chip *ngFor="let spread of spreads$ | async">{{ spread.leg1 }}{{ spread.leg2 }}</mat-chip>
  </mat-chip-list>
</div>


