<div class="flex-row">
  <button (click)="recalculateRebalanceAmount()" type="button" class="btn-primary title-m">Recalculate rebalance amount</button>

  <button (click)="applyComparisonPrices()" type="button" class="btn-primary title-m">Apply comparison prices</button>
</div>

<app-rebalance-common-params [rebalanceAmount]="rebalanceAmount$ | async" [initialParams]="rebalanceParams"
                             (paramsUpdate)="updateParams($event)"></app-rebalance-common-params>

<app-rebalance-ticker [results]="rebalanceResults$ | async" [index]="i" (removeTicker)="removeTicker($event)"
                      (changeTicker)="changeTicker()" [form]="form" *ngFor="let form of tickersForm.controls; let i = index"></app-rebalance-ticker>

<button (click)="rebalance()" type="button" class="btn-primary title-m">Rebalance</button>

<button (click)="applyResults()" type="button" class="btn-primary title-m">Apply Results</button>

<button style="margin-left: 100px" (click)="addTicker()" type="button" class="btn-primary title-m">Add ticker</button>

<!--<button (click)="resetResults()" type="button">Reset</button>-->

<div>Rebalance tasks:</div>

<app-rebalance-results (toggleDone)="toggleDone($event)" (removeTask)="removeTask($event)"
                       [rebalanceResults]="rebalanceResults$ | async"></app-rebalance-results>

<!--  <glp-reward-->
<!--    *ngFor="let control of form.controls; let i = index"-->
<!--    [form]="control"-->
<!--    [index]="i"-->
<!--    [deleteAllowed]="true"-->
<!--    (removeItem)="removeItem($event)">-->
<!--  </glp-reward>-->

