<div [formGroup]="getFb()">
  <mat-form-field class="example-form-field">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput type="text">
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Weight</mat-label>
    <input formControlName="weight" matInput type="number">
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Current Amount</mat-label>
    <input formControlName="currentAmount" matInput type="number">
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Current Price</mat-label>
    <input formControlName="currentPrice" matInput type="number">
  </mat-form-field>

  <ng-container *ngIf="additionalAmount$ | async as additionalAmount">
    {{additionalAmount}} {{getFb().value.name}}
  </ng-container>

  <button (click)="removeTicker.next(index)" type="button">Remove Ticker</button>
</div>

