/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

path.line {
  fill: none;
  stroke: #000000;
  stroke-width: 1;
}
