<app-rebalance-common-params [initialParams]="rebalanceParams" (paramsUpdate)="updateParams($event)"></app-rebalance-common-params>

<app-rebalance-ticker [results]="rebalanceResults$ | async" [index]="i" (removeTicker)="removeTicker($event)"
                      (changeTicker)="changeTicker()" [form]="form" *ngFor="let form of tickersForm.controls; let i = index"></app-rebalance-ticker>

<button (click)="addTicker()" type="button">Add ticker</button>

<button (click)="rebalance()" type="button">Rebalance</button>

<button (click)="applyResults()" type="button">Apply Results</button>

<button (click)="resetResults()" type="button">Reset</button>

<div>Rebalance tasks:</div>

<app-rebalance-results (toggleDone)="toggleDone($event)" [rebalanceResults]="rebalanceResults$ | async"></app-rebalance-results>

<!--  <glp-reward-->
<!--    *ngFor="let control of form.controls; let i = index"-->
<!--    [form]="control"-->
<!--    [index]="i"-->
<!--    [deleteAllowed]="true"-->
<!--    (removeItem)="removeItem($event)">-->
<!--  </glp-reward>-->

