<div [formGroup]="form" class="rebalance-form flex-row">
  <mat-form-field class="example-form-field">
    <mat-label>Total Amount</mat-label>
    <input formControlName="totalAmount" matInput type="number" class="text-m">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Cash</mat-label>
    <input formControlName="cash" matInput type="number" />
  </mat-form-field>
  <button (click)="distractCash()" type="button" class="btn-secondary title-m">Distract cash</button>
  <mat-form-field class="example-form-field">
    <mat-label>Invested</mat-label>
    <input formControlName="invested" matInput type="number" />
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Multiplier</mat-label>
    <input formControlName="multiplier" matInput type="number" />
  </mat-form-field>
  <button (click)="calculateRebalanceAmount()" type="button" class="btn-secondary title-m">Calculate rebalance amount</button>
  <mat-form-field class="example-form-field">
    <mat-label>Rebalance Amount</mat-label>
    <input formControlName="rebalanceAmount" matInput type="number" />
  </mat-form-field>
</div>
